:deep(.el-select .el-icon) {
  color: #F5F5F5;
}

:deep(.el-table .el-scrollbar__wrap) {
  background-color: rgba(30, 30, 30, 1);
}

:deep(.el-table .el-table__empty-block) {
  background-color: rgba(30, 30, 30, 1);
}

// 共  条
:deep(.el-pagination .el-pagination__total, .el-pagination__total ) {
  color: rgba(245, 245, 245, 1);
}

// 前往
:deep(.el-pagination .el-pagination__goto ) {
  color: rgba(245, 245, 245, 1);
}

// 页
:deep(.el-pagination .el-pagination__classifier ) {
  color: rgba(245, 245, 245, 1);
}

// 翻页箭头
:deep(.el-pagination.is-background .btn-next) {
  background-color: rgba(30, 30, 30, 1);
  color: #F5F5F5;

  .el-icon {
    color: #F5F5F5;
  }
}

// 翻页箭头禁用态
:deep(.el-pagination.is-background .btn-prev:disabled),
:deep(.el-pagination.is-background .btn-next:disabled) {
  background-color: rgba(30, 30, 30, 1);
  color: rgba(166, 166, 166, 1);

  .el-icon {
    color: rgba(166, 166, 166, 1);
  }
}

// 页码按钮
:deep(.el-pagination.is-background .el-pager li) {
  background-color: rgba(30, 30, 30, 1);
  color: rgba(245, 245, 245, 1);
}

// 页码按钮激活态
:deep(.el-pagination.is-background .el-pager li.is-active) {
  background: rgba(0, 103, 209, 0.4);
  color: rgba(245, 245, 245, 1);
  border-radius: 4px;
}

:deep(.select-has-value .el-select__selected-item span) {
  color: #F5F5F5;
}

.el-pagination .el-select {
  width: 128px;
}
