registry=http://mirrors.tools.huawei.com/npm/
@baize:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@aimarket:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
strict-ssl=false
@adc:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/@adc
@gde:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/@gde
@hw-csnetcareedge:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@hw-hdt:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@aurora:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@avenueui:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@originjs:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/npm-fed/
@starling-devkit:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@aurora-uikit:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@luban:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@starling:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@aurora-devkit:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@aurora-one:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/sz-npm-public/
@turboui:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/npm-turboui/
@linkjs:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/npm-turboui/
@hw-ispa:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@hw-netcarecloud-wf:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@hw-netcare:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@hw-netcareportal:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@ohos:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/